<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549686870133-47fouodcicnc3uq4u4cc8bv5906t6461.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549686870133-47fouodcicnc3uq4u4cc8bv5906t6461</string>
	<key>API_KEY</key>
	<string>AIzaSyCv9cFJca3iZO2eYRXDKYN7zagRESqZ5yg</string>
	<key>GCM_SENDER_ID</key>
	<string>549686870133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brendonvan.TheaterX</string>
	<key>PROJECT_ID</key>
	<string>theaterx-official</string>
	<key>STORAGE_BUCKET</key>
	<string>theaterx-official.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:549686870133:ios:91573cdcf443ddf0</string>
	<key>DATABASE_URL</key>
	<string>https://theaterx-official.firebaseio.com</string>
</dict>
</plist>
